/*
Author: Philip Beel
Author URI: http://theodin.co.uk/
Version: 1.0
*/ 

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue-webfont.woff') format('woff'),
         url('../fonts/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Bitter', serif;
	font-size:14px;
	background: #FDFDFD	;
	background-position:top center, top center;
	font-size:14px;
	-webkit-font-smoothing: antialiased;
}

body p {
	font-family: 'Bitter', serif;
	font-size:14px;
	line-height:160%;
}

p.right {
	text-align:right;
}

.hidden {
	display:none;
}

a:link { color: #E3E3E3; text-decoration: none; outline:none; }
a:active {color: #FFFFFF; text-decoration: none; outline:none; }
a:hover {color: #F28771; text-decoration: none; outline:none; }
a:visited {color: #E3E3E3; text-decoration: none; outline:none; }


h1, h2, h3, h4, h5, h6 {font-family:"BebasNeueRegular", Helvetica, Tahoma, Arial;font-weight:normal;text-shadow:0 1px 0 #FFFFFF;margin-bottom:7px;}

h1 {
	font-size: 60px;
	line-height: 55px
}

h2 {
	font-size: 40px;
	line-height: 35px
}

/* Header */
header {
	margin-top:10px;
	height:160px;
}

	/** Primay Naviagtion **/
	nav {
		margin:40px 0px;
	}
		nav ul {}

		nav ul.primary {
		}

		nav ul li {
			list-style: none;
			float:left !important;
			margin-bottom:10px;
		}
		nav a, nav a:link, nav a:visited {
			padding:5px;
			text-decoration:none;
			font-family: 'Bitter', serif;
			font-size:13px;
			padding:7px 20px;
			float:left;
			color:#1b1b1b;
			clear:both;
			text-shadow:0 0 10px rgba(255, 255, 255, 0.3);
		}
		nav a:hover, nav a.current {
			text-shadow:0 0 10px rgba(255, 255, 255, 0.3);
			color:#F28771;
			background:none;
			background-color:none;
		}
		nav a span {
			float:left;
			clear:both;
		}
		nav a span.title {
			font-size:24px;
			line-height:28px;
			font-family:"BebasNeueRegular", Helvetica, Tahoma, Arial;
		}

			/*** Logo ***/
			nav .logo {
				position:relative;
			}

			nav .logo a, nav .logo a:hover, nav .logo a:link, nav .logo a:visited {
			    background:url('../img/logo.png') top left no-repeat;
			    text-indent:-9999px;
				color:#1b1b1b;
				width:221px;
				height:123px;
			}

/* Body */
#main .columns {
	column-gap: 25px;
	-webkit-column-gap: 25px;
	-moz-column-gap:25px;
	column-width:450px;
	-moz-column-width:450px;
	-webkit-column-width:450px;
}


#main p a:hover {text-decoration:underline;text-shadow:none;}

#main a.btn, #main a.btn:hover{color:#FFF;}
#main a.right {float:right;}
	
	/**  Introduction **/
	.container .introduction {
		text-align: center;
		width: 100%;
	}
	
	/* RSVP */
	.rsvp {
		background: #BBE084;
		padding: 20px;
		font-size: 16px;
	}
		
		input[type="checkbox"], input[type="radio"] {
			float: left;
			margin: 0 10px 0 0;
		}

		.rsvp .btn {
			margin: 10px 0;
		}

		.church-address, .reception-address {
			font-family:"BebasNeueRegular", Helvetica, Tahoma, Arial;
			text-shadow:0 1px 0 #FFFFFF;
			font-size: 26px;
			line-height: 28px;
			padding: 20px;
			background: #5B62B2;
		}


	/**  Location **/
	.location {
		width: 100%;
	}
	#map {
		width: 98%;
		height: 300px;
	}

	/** Content **/
	#content {
		float: left;
		margin-right: 15px;
		width: 615px;
	}
	ul li {list-style-image: url('../img/disc.png');}

	hr {
		border-top: 2px dotted #000;
	    border-right: 0 none;
	    clear: both;
	}
	

/* timeline */
#timeline-wrap {
  position: relative;
}
.timeline-spacer {
  display: none;
}
.timeline-end {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.timeline-row {
  margin-top: -100px;
}
.timeline-row-first {
  margin-top: 0;
}
.timeline-row-right,
.timeline-row-left {
  background: url("../img/timeline-arrow.png") center center repeat-y transparent;
}
.timeline-entry {
  width: 40%;
  background: #FFFFFF;
  padding: 20px 10px;
  -webkit-box-shadow: 0px 0px 1px 0px #242729;
  box-shadow: 0px 0px 1px 0px #242729;
  min-height: 210px;
}
.timeline-entry hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #989797;
  border-bottom: 1px solid white;
}
.timeline-entry-left {
  float: left;
  border-right: 4px solid #5B62B2;
}
.timeline-entry-right {
  float: right;
  border-left: 4px solid #5B62B2;
}
.timeline-icon {
	padding-left: 140px;
	min-height: 128px;
}

.timeline-chruch {
	background: url("../img/icon-church.png") no-repeat;
}

.timeline-rings {
	background: url("../img/icon-rings.png") no-repeat;
}

.timeline-champagne {
	background: url("../img/icon-breakfast.png") no-repeat;
}

.timeline-meal {
	background: url("../img/icon-meal.png") no-repeat;
}

.timeline-photography {
	background: url("../img/icon-photography.png") no-repeat;
}

.timeline-cake {
	background: url("../img/icon-cake.png") no-repeat;
}

.timeline-dj {
	background: url("../img/icon-dj.png") no-repeat;
}

.timeline-disturb {
	background: url("../img/icon-disturb.png") no-repeat;
}

.timeline-car {
	background: url("../img/icon-car.png") no-repeat;
}

/* Media Queries */
/** Landscape phone to portrait tablet **/
@media screen and (max-width: 767px) {
	/* Header & Nav */
	header { margin:0 auto; width:200px; height: 400px;}
	nav { width:200px; height:610px;margin:0 auto;}
	nav ul.primary { width:200px; margin:190px 0px 0px 0px;}
	nav li { width:200px;  padding-top:5px; width:94%;}
	nav li a { width:200px;  background:url("../img/shutter.png") repeat scroll 0 0 transparent;height:80px;width:180px;padding:20px;}
	nav .logo { position:absolute;top:50px;padding-top:0px;}
	nav .logo a, nav .logo a:hover, nav .logo a:link, nav .logo a:visited  {display:block;width:182px;}
}

@media (min-width: 768px) and (min-width: 852px) {
	nav .logo a, nav .logo a:hover, nav .logo a:link, nav .logo a:visited  {margin:0px 35px;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	nav .logo a, nav .logo a:hover, nav .logo a:link, nav .logo a:visited  {margin:0px 10px;}
}
 
/* Large desktop */
@media (min-width: 1200px) {
	nav .logo a, nav .logo a:hover, nav .logo a:link, nav .logo a:visited  {margin:0px 70px;}
}
